{
	"printWidth": 200,
	"tabWidth": 4,
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "none",
	"arrowParens": "avoid",
	"semi": false,
	"endOfLine": "auto",
	"bracketSpacing": true,
	"jsxSingleQuote": true
}
