// -------------------------------------  受换主题色影响的变量  ------------------------------------
$themes: (
    green: (
        color-theme-primary:  rgba(11, 100, 98, 1),  // #0b6462主题色
        color-theme-secondary:rgba(7, 144, 135, 1),  // #079087 hover 色
        color-theme-tertiary: rgba(8, 68, 72, 1),  //  #084a48 presed 色
        color-theme-highlight: rgba(11, 100, 98, .15),  // 高亮
        color-theme-shadow: rgba(7, 144, 135, 0.4), // 次级色的不透明度
        color-theme-disable: rgba(11, 100, 98, 0.5), // 禁用色
        color-theme-menu:rgba(6, 31, 31,1), // #061f1f 左侧菜单及顶部导航背景色
        color-theme-submenu: rgba(4, 21, 21, 1),  // #041515子菜单背景色
        color-theme-tabs-active: rgba(11, 100, 98, 0.2), // 侧边标签页 tabs
    ),

    blue: (
        color-theme-primary: rgba(5, 122, 255, 1),   // #057aff
        color-theme-secondary:  rgba(51, 146, 255, 1),  //#3392ff
        color-theme-tertiary:rgba(0, 107, 230, 1), // #006be5
        color-theme-highlight: rgba(5, 122, 255, .15),
        color-theme-shadow: rgba(51, 146, 255, 0.4),
        color-theme-disable: rgba(5, 122, 255, 0.5),
        color-theme-menu:rgba(20, 30, 51, 1),
        color-theme-submenu: #0C111D,
        color-theme-tabs-active: rgba(5, 122, 255, 0.2),
    ),
);


// ----------------------------------  受换背景色影响的变量  ------------------------
$backgrounds: ( // 背景色改变所影响的变量
    // 浅色背景
    light: (
        // 滚动条
        scrollbar-thumb: $color-grey-10,
        scrollbar-thumb-hover: $color-grey-25,

        // 文字
        color-text-primary: $color-black-85, // 正文
        color-text-regular: $color-black-65,  // 使用情况较少，常用于列表说明
        color-text-disable: $color-black-25, // 失效文字
        color-text-placeholder: $color-black-45, // 辅助色，placeholder 及提示类

        // 字体图标
        icon-font-color: $color-black-45,
        icon-font-disabled-color: $color-black-25,

        // 边框
        color-border-default: $color-grey-15, // 默认边框
        color-border-popup: $color-grey-15,  // 弹出窗口的边框色

        // 阴影
        shadow-default: (
            0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 2px 1px -1px rgba(0, 0, 0, 0.12),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14)
        ),
        shadow-popup: (
            0px 5px 12px 4px rgba(0, 0, 0, 0.09),
            0px 3px 6px 0px rgba(0, 0, 0, 0.12),
            0px 1px 2px -2px rgba(0, 0, 0, 0.16)
        ),

        // 容器
        color-body-bg: $color-grey-4,  // 页面整体背景
        color-container-bg-default: $color-white-100,  // 组件默认背景与页面内容区背景
        color-container-bg-disable: $color-grey-4,  // 禁用的容器背景色
        color-container-bg-popup: $color-white-100, // 弹出窗口的背景色，例如消息提示，对话框，下拉选择
        color-container-bg-wrapper-bg: $color-grey-4,  // 页面内容区上的包裹内容区背景色
        color-container-bg-popup-highlight: $color-grey-10, // 弹出内容区子项的 hover 背景色

        // 按钮
        btn-primary-disable-bg-text-disable: $color-white-100, // 浅色下禁用背景

        // 对话框
        modal-mask-bg: rgba(0, 0, 0, 0.45),

        // 开关
        switch-default-bg: $color-grey-25,
        switch-default-disabled-bg: $color-grey-15,
        switch-disabled-symbol: $color-white-100, // 内部圆圈，选中和未选中下的禁用颜色

        // 表头
        table-head-color: $color-black-45,
        table-head-bg:$color-grey-10,
        table-fixed-left-shadow: 2px 0 6px -2px $color-black-25, // 固定列阴影
        table-fixed-right-shadow: -2px 0 6px -2px $color-black-25, // 固定列阴影

        // 复选框
        checkbox-checked-symbol: $color-white-100,

        // spin 加载
        spin-bg: rgba(255, 255, 255, .7),

        // 标签 tag
        tag-bg: $color-grey-10,

        // 侧边标签页 tabs
        bolean-tabs-item-bg: $color-grey-10,

        //  步骤条
        step-wait-bg: $color-grey-15,

        // 进度条
        progress-default-bg: $color-grey-10,
    ),
    // 暗色背景
    dark: (
        // ------  以下变量用于重置主题色下的颜色为深色背景颜色，无需在 light 中添加对应变量  --------
        color-theme-menu:$color-grey-92, // 菜单背景
        color-theme-submenu: $color-grey-96, // 子菜单背景色
        // ------  end  --------

        // 滚动条
        scrollbar-thumb: $color-grey-82,
        scrollbar-thumb-hover: $color-grey-65,

        // 文字
        color-text-primary: $color-white-85,  // 正文
        color-text-regular: $color-white-65,
        color-text-disable: $color-white-25, // 失效文字
        color-text-placeholder: $color-white-45, // 辅助色，placeholder 及提示类

        // 字体图标
        icon-font-color: $color-white-45,
        icon-font-disabled-color: $color-white-25, // 禁用下的图标色

        // 边框
        color-border-default: $color-grey-65,
        color-border-popup: $color-grey-75,  // 弹出窗口的边框色

        // 阴影
        shadow-default: (
            0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 2px 1px -1px rgba(0, 0, 0, 0.12),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14)
        ),
        shadow-popup: (
            0px 5px 12px 4px rgba(0, 0, 0, 0.36),
            0px 3px 6px 0px rgba(0, 0, 0, 0.48),
            0px 1px 2px -2px rgba(0, 0, 0, 0.64)
        ),

        // 容器
        color-body-bg: $color-black-100,
        color-container-bg-default: $color-grey-92,
        color-container-bg-disable: $color-grey-82,  // 禁用的容器背景色
        color-container-bg-popup: $color-grey-88, // 弹出窗口的背景色，例如消息提示，对话框，下拉选择
        color-container-bg-wrapper-bg: $color-grey-88,  // 页面内容区上的包裹内容区背景色
        color-container-bg-popup-highlight: $color-grey-82, // 弹出内容区子项的 hover 背景色

        // 按钮
        btn-primary-disable-bg-text-disable: $color-white-25,  // 深色下和文字禁用色一样

        // 对话框
        modal-mask-bg: rgba(0, 0, 0, .75),

        // 开关
        switch-default-bg: $color-grey-82,
        switch-default-disabled-bg: $color-grey-82,
        switch-disabled-symbol: $color-white-25, // 内部圆圈，选中和未选中下的禁用颜色

        // 表格
        table-head-color: $color-white-65,
        table-head-bg: $color-grey-82, // 表格表头背景
        table-fixed-left-shadow: 4px 0 6px -2px $color-grey-82, // 固定列阴影
        table-fixed-right-shadow: -4px 0 6px -2px $color-grey-82, // 固定列阴影

        // 复选框
        checkbox-checked-symbol: $color-white-25,

        // spin 加载
        spin-bg: rgba(20, 20, 20, .7),

        // 标签 tag
        tag-bg: $color-grey-75,

        // 侧边标签页 tabs
        bolean-tabs-item-bg:$color-grey-88,

        //  步骤条
        step-wait-bg: $color-grey-82,

        // 进度条
        progress-default-bg: $color-grey-82,
    ));


// ---------------------------  主题色获取，用于外观设置页 ------------------------------
@mixin set-theme {
    @each $theme-name, $theme-list in $themes {
        // !global 把局部变量强升为全局变量
        $theme-list: $theme-list !global;

        //判断 html 的 data-theme的属性值
        [data-theme="#{$theme-name}"] & {
            @content;
        }
    }
}

// 获取主题色下的变量颜色值
// 没有放置在 @content 位置的原因是为了兼顾一些 box-shadow, border 等需要带有其它内容的情况，例如 box-shadow: 0 0 0 2px color;
@function get-themed-variable($variable-name) {
    @return map-get($theme-list, $variable-name);
}

//  ---------------------------   设置背景色 深、浅 -----------------------------
@mixin set-background() {
    @each $background-name, $background-list in $backgrounds {
        // !global 把局部变量强升为全局变量
        $background-list: $background-list !global;

        //判断 html 的 data-background 的属性值
        [data-background="#{$background-name}"] & {
            @content;
        }
    }
}

// 获取背景色下的变量颜色值
@function get-bg-changed-variable($variable-name) {
    @return map-get($background-list, $variable-name);
}
